@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


@layer components {
  .main-container {
    max-width: 900px;
  }
  
  .centered-main-container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .about-bg {
    background-image: url('../assets//images/banner-service.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dept-bg {
    background-image: url('../assets//images/banner-department.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-bg {
    background-image: url('../assets//images/banner-contactus.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .team-bg {
    background-image: url('../assets//images/banner-doctors.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-bg {
    background-image: url('../assets//images/bg-hero.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .faq-bg {
    background-image: url('../assets//images/banner-blog.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
  }




  .small-text {
    @apply fontpoppins text-black text-[14px] tracking-[0.3px]
  }

}